/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 32px;
}

.search-box label {
  font-weight: bold;
}

.search-box-input {
  width: 272px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;
}

.search-box-input:hover {
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  color: #808080;
}

.search-box-input:active {
  border-radius: 4px;
  border: 1px solid #4e75ff;
  color: #2e2f42;
}

.search-btn {
  width: auto;
  height: auto;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  border: none;
}

.search-btn:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
}

img {
  width: 360px;
  height: 200px;
}

.load-more-btn {
  display: flex;
  height: auto;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  border: none;
  padding: 8px 16px;
}
